* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  text-align: center;
  grid-template-columns: 2(1fr,4fr);
  grid-row: 4;
  gap:4px;

  
}
.logo{
  grid-row: 1;
  grid-column: 1;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-column: 1/4;
  grid-row:1;
  grid-template-columns: subgrid;
  grid-template-rows: 3(1fr,3fr);

  background-color: #393f4d;

}
.ul{

}
.menu ul,
.menu li {

  align-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
  font-size: 16px;
}

.sidebar {
  display: grid;
  grid-column: 1;
  grid-row: 2/4;
  gap:50px;


  background-color: #FF7755;
}

.sidebar .photo {

  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  grid-row: 1fr;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {

  grid-column: 2/4;
  grid-row: 2;
  background-color: #FF7755;

}

.nav ul li {
  align-content: center;
  display: grid;
  grid-template-columns: auto auto auto ;

  font-size: 16px;
  text-transform: uppercase;

}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-column: 1/4;
  grid-row: 4;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
